*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #313131;
}

form {
    position: relative;
    z-index: 1;
    max-width: 400px;
    height: 500px;
    margin: 100px auto;
    background: #fffefe;
    padding: 24px;
    overflow: hidden;
    box-shadow:1px 1px 20px rgba(0, 0, 0, 0.596) ;
    border: 1px solid #00000048;
    border-radius: 5px;
}

form::after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 1%;
    left: 1%;
    width: 98%;
    height: 98%;
    background: #fffefe;
    overflow: hidden;
}

form::before {
    content: '';
    position: absolute;
    z-index: -2;
    top: -55px;
    left: 50%;
    transform: translateX(-50%);
    rotate: 40deg;
    width: 100px;
    height: 140%;
    background-color: rgba(123, 0, 255, 0.827);
    animation: rotation 4s  infinite;
}

@keyframes rotation {
    to {
        transform: translateX(-50%) rotate(360deg);
    }
}

form h4 {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.container_form {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.container_form:nth-child(2) {
    margin-top: 70px;
}

.container_form label {
    font-family: Arial, Helvetica, sans-serif;
}

.container_form input {
    height: 30px;
    border: none;
    border-bottom: 1px solid;
    outline: none;
}

.container_form .submit {
    width: 100px;
    padding: 10px 15px;
    margin: 40px auto;
    border: none;
    border-radius: 5px;
    background-color: rgba(123, 0, 255, 0.827);
    transition: 0.2s ease-in;
    color: #fffefe;
    outline: none;

}

.container_form .submit:hover {
    color: #fffefe;
    background-color: rgba(54, 1, 111, 0.827);
    box-shadow: 1px 1px 40px 2px rgba(1, 69, 96, 0.238) inset;
    
}
    